body{
    background-color: aqua;
    color: darkorchid;
}
nav a{
    text-decoration: none;
    color:rgb(76, 13, 66);
    font-weight: bold;
    font-style: italic;
}
nav a:hover
{
    color:rgb(183, 210, 103);
}

.home
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    color:rgb(60, 13, 29);
    background-color:rgb(159, 115, 158);
    border-bottom: 10px solid rgb(66, 41, 73);
}
h1{
    font-size: 200%;
    color:brown;
}